@model PlatziAspCore.Models.Student

@{
    ViewData["Title"] = "Student Information";
     Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-danger">Edit</a>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>
