@model School
@{
    ViewData["Title"] = "School Information";
    Layout= "Simple";
}

<h1>School @ViewData["Title"]</h1>
<h2>Name:@Model.Name</h2>
<h3>School Type: @Model.SchoolType</h3>
<address>
    <p>Address: @Model.Address</p>
    <p>Country: @Model.Country</p>
    <p>City: @Model.City</p>
</address>
<p>
   <strong>Year of Foundation: @Model.FoundationYear</strong> 
</p>
<p><i>@ViewData["DynamicData"]</i></p>